# _config.yml
# The Jekyll config file for jontillman.me
#
# Basic Configuration Options
# See also _config_dev.yml and the link below
# https://stackoverflow.com/questions/54009824/how-to-build-jekyll-project-production-with-windows-command-line
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

environment: production
url: https://eatingasturias.com
baseurl: "" # the subpath of your site, e.g. /blog
markdown: kramdown
markdown_ext: "markdown,mkdown,mkdn,mkd,md"
locale: "en-US"
timezone: Europe/Madrid
excerpt_separator: <!--more-->  # you can specify your own separator, of course.
exclude: ['Gemfile', 'Gemfile.lock', 'Rakefile', 'UploadToGithub.Rakefile', 'README.md', '.obsidian/', '.pandoc/']
include:
  - _pages
  - .htaccess
webmentions:
  username: jontillman.me
  cache_folder: .cache

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: "Eating Asturias"
title_separator: "|"
subtitle: "The English-Language Encyclopedia of Asturian Gastronomy"
logo: "/assets/images/EAlogo.svg"
masthead_title: "Eating Asturias"
name: "Jon Tillman"
email: jon@eatingasturias.com
description: >-  # this means to ignore newlines until "baseurl:"
  A website dedicated to bringing the best of Asturian food culture to the English-speaking world. Equal parts cookbook, travel guide, and ethnography.
breadcrumbs: true  # disabled by default
date_format: "%Y-%m-%d"

# Github settings
# see https://github.com/jekyll/github-metadata
repository: "tillmanj/eatingasturias" 
github_username: "tillmanj"

# Build settings
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "air" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"
sass:
  style: compressed

# https://jekyll.stevefenton.co.uk/config/robots/
# https://www.cyberciti.biz/web-developer/block-openai-bard-bing-ai-crawler-bots-using-robots-txt-file/
robots_txt: >-
  User-agent: GPTBot
  Disallow: /
  User-agent: ChatGPT-User
  Disallow: /
  User-agent: Google-Extended
  Disallow: /
  User-agent: CCBot
  Disallow: /

# Site Defaults
# all of these settings can be overridden on a per-page basis through YAML frontmatter
defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "single"
      show_date: true
      read_time: true
      words_per_minute: 250

# Collections
# https://jekyllrb.com/docs/step-by-step/09-collections/
collections:
  docs:
    output: true

# Search
search: true
search_provider: lunr # https://learn.cloudcannon.com/jekyll/jekyll-search-using-lunr-js/
lunr:
  search_within_pages: true
  search_full_content: true

# Load Plugins
plugins:
  - jekyll-analytics
  - jekyll-feed
  - jekyll-glossary_tooltip
  - jekyll-include-cache
  - jekyll-last-modified-at  
  - jekyll-link-attributes
  - jekyll-loading-lazy
  - microformats
  - jekyll-scholar
  - jekyll-sitemap
  - jekyll-webmention_io
  - jekyll-wikirefs

# PLUGIN: jekyll-analytics
google_site_verification: TDSlnEqLiDJGZc7K3Hs2lfVEq1R4QS8ZVTe6Qr2X4J4
# https://matomo.org/gdpr-analytics/
jekyll_analytics:
  Matomo:                           # Add, if you want to track with Matomo (former Piwik Analytics)
    url: matomo.eatingasturias.com  # Required - url to Matomo installation without trailing /
    siteId: "1"                  # Required - replace with your Matomo site id (Write id as string)

# PLUGIN: jekyll-feed
# feed:
#   collections:
#     - recipes
#     - articles

# PLUGIN: jekyll-glossary_tooltip

# PLUGIN: jekyll-include-cache

# PLUGIN: jekyll-last-modified-at
last-modified-at:
    date-format: '%Y-%m-%d'

# PLUGIN: jekyll-link-attributes
external_links:
  enabled: true
  rel: external nofollow noopener
  target: _self
  exclude:
    - https://example.com

# PLUGIN: jekyll-loading-lazy

# PLUGIN: microformats

# PLUGIN: jekyll-scholar
# https://github.com/inukshuk/jekyll-scholar
scholar:
  style: modern-language-association
  locale: en
  source: ./_data/bibliography
  bibliography: eating_asturias.bib
  allow_locale_overrides: true


# PLUGIN: jekyll-sitemap

# PLUGIN: tzinfo

# PLUGIN: jekyll-wikirefs
