# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/

# Load Plugins
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-analytics

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

locale: "en-US"
title: "Eating Asturias"
title_separator: "|"
subtitle: "The English-Language Encyclopedia of Asturian Gastronomy"
logo: "/assets/images/EAlogo.svg"
masthead_title: "Eating Asturias"
name: "Jon Tillman"
email: jon@eatingasturias.com
description: >-  # this means to ignore newlines until "baseurl:"
  A website dedicated to bringing the best of Asturian food culture to the English-speaking world. Equal parts cookbook, travel guide, and ethnography.
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://eatingasturias.com" # the base hostname & protocol for your site, e.g. http://example.com
breadcrumbs: true  # disabled by default
date_format: "%Y-%m-%d"

# Unused settings:
# teaser: ""
# 

# Github settings
# see https://github.com/jekyll/github-metadata

repository: "tillmanj/eatingasturias" 
github_username: "tillmanj"

# Build settings
theme: minimal-mistakes-jekyll
minimal_mistakes_skin: "air" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum", "sunrise"

# Site Defaults
# all of these settings can be overridden on a per-page basis through YAML frontmatter
defaults:
  - scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "single"
      show_date: true
      read_time: true
      words_per_minute: 250

# Collections
# https://jekyllrb.com/docs/step-by-step/09-collections/
collections:
  docs:
    output: true

# Search
search: true
search_provider: lunr # https://learn.cloudcannon.com/jekyll/jekyll-search-using-lunr-js/
lunr:
  search_within_pages: true
  search_full_content: true


# Analytics
google_site_verification: TDSlnEqLiDJGZc7K3Hs2lfVEq1R4QS8ZVTe6Qr2X4J4


jekyll_analytics:
  Matomo:                           # Add, if you want to track with Matomo (former Piwik Analytics)
    url: matomo.eatingasturias.com  # Required - url to Matomo installation without trailing /
    siteId: "1"                  # Required - replace with your Matomo site id (Write id as string)

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
