<aside class="sidebar__right infobox">
    <meta itemprop="recipeCuisine" content="{{page.recipeCuisine}}">
    <table>
    <tbody>
    {% if page.recipeImage %}
    {%  assign imgName = {{page.recipeImage | url_decode }} %}
    {%  assign imgName = {{imgName}} | prepend: "/assets/images/" %}
        <tr>
            <td colspan="4" class="image">
                <figure>
                    <picture>
                        <source srcset="/assets/images/{{page.recipeImage}}" type="image/png" media="(orientation: portrait)">
                        <a href="{{imgName}}" class="image-popup" title="{{page.recipeImageCaption}}">
                        <img itemprop="photograph" src="/assets/images/{{page.recipeImage}}" alt="a prepared dish of {{page.title}}" decoding="async" data-file-width="{% imagesize {{imgName}}:width %}" data-file-height="{% imagesize {{imgName}}:height %}">
                        </a>
                    </picture>
                    <figcaption>{{page.recipeImageCaption}}</figcaption>
                </figure>
            </td>
        </tr>
    {% endif %}
        <tr class="about">
            <td class="infobox-label">Category</td>
            {% assign categoryLink = {{page.url}} | split: "/" | reverse | join: "/" | replace_first: "/", "|" | split: "|" | last | split: "/" | reverse | join: "/" | prepend: "/" %}
            <td><span itemprop="recipeCategory"><a href="{{categoryLink}}/">{{page.recipeCategory}}</a></span></td>
        </tr>
        <tr class="about">
            <td class="infobox-label">Cooking Method</td>
            <td><span itemprop="cookingMethod"><a href="/recipes/method/{{page.cookingMethod | downcase}}/">{{page.cookingMethod}}</a></span></td>
        </tr>
        {%if page.recipeOccasion%}
            <tr class="about">
                <td class="infobox-label">Special Occasion</td>
                <td><span itemprop="keywords"><a href="/recipes/occasion/{{page.recipeOccasion | downcase}}/">{{page.recipeOccasion}}</a></span></td>
            </tr>
        {%endif%}
        {%if page.recipeSeason%}
            <tr class="about">
                <td class="infobox-label">Season</td>
                <td><span itemprop="keywords"><a href="/recipes/season/{{page.recipeSeason | downcase}}/">{{page.recipeSeason}}</a></span></td>
            </tr>
        {%endif%}
        {%if page.recipeDifficulty%}
            <tr class="about">
                <td class="infobox-label">Difficulty</td>
                <td><span itemprop="keywords"><a href="/recipes/difficulty/{{page.recipeDifficulty | downcase}}/">{{page.recipeDifficulty}}</a></span></td>
            </tr>
        {%endif%}
        {%if page.recipeCourse%}
            <tr class="about">
                <td class="infobox-label">Course</td>
                <td><span itemprop="keywords"><a href="/recipes/course/{{page.recipeCourse | downcase}}/">{{page.recipeCourse}}</a></span></td>
            </tr>
        {%endif%}
    </tbody>
    </table>

    {% if page.nutrition %}
    <table class="nutrition" itemprop="nutrition" itemscope itemtype="https://schema.org/NutritionInformation">    
        <thead>
            <tr class="nutrition">
                <th colspan="2" class="header">Nutrition</td>
            </tr>
        </thead>
        <tbody>
            <tr class="nutrition" id="divider">
                <td class="nutrition-label">Serving Size</td>
                <td class="nutrition-value right" itemprop="servingSize">{{page.servingSize}}</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label nutrition-note right small">per serving</td>
                <td class="calories" rowspan="2">
                    <span itemprop="calories">{{page.calories}}</span>
                </td>
            </tr>
            <tr class="nutrition">
                <td class="nutrition-label">Calories</td>
            </tr>
            <tr class="nutrition">
                <td colspan="2" class="nutrition-note right small">%DV*</td>                
            </tr>
            <tr class="nutrition">
                <td class="nutrition-label">Total Fat&nbsp;&nbsp;<span itemprop="fatContent">{{page.fatContent}}g</span></td>
                <td class="nutrition-value">{{page.fatContent | divided_by: 65 | times: 100.0 | round}}%</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label indent1">Saturated Fat&nbsp;&nbsp;<span itemprop="saturatedFatContent">{{page.saturatedFatContent}}g</span></td>
                <td class="nutrition-value">{{page.saturatedFatContent | divided_by: 20 | times: 100.0 | round}}%</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label indent1">Trans Fat&nbsp;&nbsp;<span itemprop="transFatContent">{{page.transFatContent}}g</span></td>
                <td class="nutrition-value">{{page.transFatContent | divided_by: 56 | times: 100.0 | round}}%</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label">Cholesterol&nbsp;&nbsp;<span itemprop="cholesterolContent">{{page.cholesterolContent}}mg</span></td>
                <td class="nutrition-value">{{page.cholesterolContent | divided_by: 300 | times: 100.0 | round}}%</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label">Sodium&nbsp;&nbsp;<span itemprop="sodiumContent">{{page.sodiumContent}}mg</span></td>
                <td class="nutrition-value">{{page.sodiumContent | divided_by: 2400 | times: 100.0 | round}}%</td>

            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label">Carbohydrate&nbsp;&nbsp;<span itemprop="carbohydrateContent">{{page.carbohydrateContent}}g</span></td>
                <td class="nutrition-value">{{page.carbohydrateContent | divided_by: 130 | times: 100.0 | round}}%</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label indent1">Dietary Fiber&nbsp;&nbsp;<span itemprop="fiberContent">{{page.fiberContent}}g</span></td>
                <td class="nutrition-value">{{page.fiberContent | divided_by: 33.6 | times: 100.0 | round}}%</td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label indent1">Sugars&nbsp;&nbsp;<span itemprop="sugarContent">{{page.sugarContent}}g</span></td>
                <td class="nutrition-value"><em>n/a</em></td>
            </tr>
            <tr class="nutrition" >
                <td class="nutrition-label">Protein&nbsp;&nbsp;<span itemprop="proteinContent">{{page.proteinContent}}g</span></td>
                <td class="nutrition-value">{{page.fatContent | divided_by: 56 | times: 100.0 | round}}%</td>
            </tr>
        </tbody>
        <tfoot>
            <tr class="nutrition" >
                <td colspan="2" class="nutrition-note small">* Percent Daily Values are based on a 2,000 calorie diet. Your daily values may be higher or lower depending on your calorie needs.</td>
            </tr>
        </tfoot>    
    </table>
    {% endif %}
    {% if page.suitableForDiet.size %}
        <h3 class="recipe-suit">This Recipe Is:</h3>
        <div class="recipe-foot">
            {% for diet in page.suitableForDiet %}
                <div class="recipe-diet">
                    <span itemprop="suitableForDiet"><a href="/recipes/diet/{{diet | downcase}}/">{{diet}}</a></span>
                </div>
            {% endfor %}
        </div>
        {% endif %}
</aside>