<aside class="sidebar__right infobox">
    <table id="ingredient-info">
        <tbody>
            {% if page.plant_image %}
                {%  assign imgName = {{page.plant_image | url_decode }} %}
                {%  assign imgName = {{imgName}} | prepend: "/assets/images/ingredients/" %}
                <tr>
                    <td colspan="6" class="image">
                        <figure>
                            <picture>
                                <source srcset="{{imgName}}" type="image/png" media="(orientation: portrait)">
                                <a href="{{imgName}}" class="image-popup" title="{{page.plant_image_alt}}">
                                <img itemprop="photograph" src="{{imgName}}" alt="{{page.title}}" decoding="async" data-file-width="{% imagesize {{imgName}}:width %}" data-file-height="{% imagesize {{imgName}}:height %}">
                                </a>
                            </picture>
                            <figcaption class="small">{{page.plant_image_alt}}</figcaption>
                        </figure>
                    </td>
                </tr>
            {% endif %}
            <tr class="about ingredient">
                <td class="infobox-label">English Name</td>
                <td class="about ingredient nowrap">{% if page.plant_name_eng_auth %}<a href="{{page.plant_name_eng_auth}}">{% endif %}{{page.plant_name_eng}}{% if page.plant_name_eng_auth %}</a>{% endif %}</td>
            </tr>
            <tr class="about ingredient">
                <td class="infobox-label">Castilian Name</td>
        <td class="about ingredient nowrap">{% if page.plant_name_esp_auth %}<a href="{{page.plant_name_esp_auth}}">{% endif %}{{page.plant_name_esp}}{% if page.plant_name_esp_auth %}</a>{% endif %}</td>
            </tr>
            <tr class="about ingredient">
                <td class="infobox-label">Species</td>
        <td class="about ingredient nowrap">{% if page.plant_species_wfo %}<a href="{{page.plant_species_wfo}}">{% endif %}{{page.plant_species}}{% if page.plant_species_wfo %}</a>{% endif %}</td>
            </tr>
            {% if page.plant_subspecies.size > 1 %}
            <tr class="about ingredient">
                <td class="infobox-label">Subspecies</td>
            <td class="about ingredient nowrap">{% if page.plant_subspecies_wfo %}<a href="{{page.plant_subspecies_wfo}}">{% endif %}{{page.plant_subspecies}}{% if page.plant_subspecies_wfo %}</a>{% endif %}</td>
            </tr>
            {% endif %}
            {% if page.plant_cultivar.size > 1 %}
            <tr class="about ingredient">
                <td class="infobox-label">Cultivar(s)</td>
                <td class="about ingredient">
                    {% if page.plant_cultivar.size > 2 %}
                        <ul>
                        {% for cultivar in page.plant_cultivar %}
                            <li>{{cultivar}}</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        {{page.plant_cultivar}}
                    {% endif %}
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</aside>