<table>
<tbody>
<tr class="odd">
<td><p><span style="font-size:xx-large;"><strong>Nutrition
Facts</strong></span>{{#if: | <a href="#fn1" class="footnote-ref"
id="fnref1" role="doc-noteref"><sup>1</sup></a>}}</p></td>
</tr>

<tr class="even">
<td><p><small>Serving Size {{#if: | | <em>-</em> {{ #if: }}}</p></td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td><p><strong>Amount Per Serving</strong></p></td>
</tr>
<tr class="odd">
<td><p><strong>Calories</strong> {{#if: | | <em>-</em>{{ #if:
}}}</p></td>
</tr>
<tr class="even">
<td><p><strong>% Daily Value*</strong></p></td>
</tr>
<tr class="odd">
<td><p><strong>Total Fat</strong> {{#if: | g | <em>-</em> }}</p></td>
</tr>
<tr class="even">
<td><p>    Saturated Fat {{#if: | g | <em>-</em> }}</p></td>
</tr>
<tr class="odd">
<td><p>    <em>Trans</em> Fat {{#if: | g | <em>-</em> }}</p></td>
</tr>
<tr class="even">
<td><p><strong>Cholesterol</strong> {{#if: | mg | <em>-</em> }}</p></td>
</tr>
<tr class="odd">
<td><p><strong>Sodium</strong> {{#if: | mg | <em>-</em> }}</p></td>
</tr>
<tr class="even">
<td><p><strong>Total Carbohydrate</strong> {{#if: | g | <em>-</em>
}}</p></td>
</tr>
<tr class="odd">
<td><p>    Dietary Fiber {{#if: | g | <em>-</em> }}</p></td>
</tr>
<tr class="even">
<td><p>    Sugars 1g</p></td>
</tr>
<tr class="odd">
<td><p><strong>Protein</strong> {{#if: | g | <em>-</em> }}</p></td>
</tr>
<tr class="even">
<td></td>
</tr>
<tr class="odd">
<td><p>Vitamin A</p></td>
</tr>
<tr class="even">
<td><p>Vitamin B1</p></td>
</tr>
<tr class="odd">
<td><p>Vitamin B3</p></td>
</tr>
<tr class="even">
<td><p>Vitamin B6</p></td>
</tr>
<tr class="odd">
<td><p>Vitamin C</p></td>
</tr>
<tr class="even">
<td><p>Vitamin E</p></td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td><p>Calcium</p></td>
</tr>
<tr class="odd">
<td><p>Iron</p></td>
</tr>
<tr class="even">
<td><p>Manganese</p></td>
</tr>
<tr class="odd">
<td><p>Potassium</p></td>
</tr>
<tr class="even">
<td><p>Sodium</p></td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td><p><small>* Percent Daily Values are based on a 2,000 calorie diet.
Your daily values may be higher or lower depending on your calorie
needs.</small></p></td>
</tr>
<tr class="odd">
<td></td>
</tr>
<tr class="even">
<td><p><small>Total Fat</small></p></td>
</tr>
<tr class="odd">
<td><p><small>  Sat Fat</small></p></td>
</tr>
<tr class="even">
<td><p><small>Cholesterol</small></p></td>
</tr>
<tr class="odd">
<td><p><small>Sodium</small></p></td>
</tr>
<tr class="even">
<td><p><small>Total Carbohydrate</small></p></td>
</tr>
<tr class="odd">
<td><p>  <small>Dietary Fiber</small></p></td>
</tr>
</tbody>
</table>


