---
layout: default
---
<span class="bibliography" id="{{ entry.key }}">
{% if entry.author %}{{ entry.author }}.{% endif %}
{% if entry.title %}
        <a href="{{ entry.key }}/" title="more details..."><i>{{ entry.title }}</i></a>
    .{% endif %}
{% if entry.publisher %} {{ entry.publisher }}.{% endif %}
{% if entry.year %} {{ entry.year }}.{% endif %}
{% if entry.doi %} <a href="https://doi.org/{{ entry.doi }}">{{ entry.doi }}</a>
{% elsif entry.url contains 'doi.org' %}
    {% assign s = entry.url | split: "org/" %}
    <a href="{{ entry.url }}">{{ s[1] }}</a>
{% endif %}
</span>