<!doctype html>
{% include copyright.html %}
<html lang="en" prefix="og: https://ogp.me/ns# dc: http://purl.org/dc/elements/1.1/" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>
  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    <header id="masthead">
      {% include_cached skip-links.html %}
      {% include_cached masthead.html %}
    </header>
    <main id="main_content">
      <div class="initial-content">
        {% if page.published == false %}
          <div class="notice notice--danger" markdown="1">
            <h2>This page is not published.</h2>
            <p>This file is visible only in development mode. To make this file visible in production, set the `published` parameter to `true` in the front matter, or remove the `published` parameter altogether.</p>
          </div>
        {% endif %}
        {{ content }}
        {% include after-content.html %}
      </div>
      {% if site.search == true %}
        <div class="search-content">
          {% include_cached search/search_form.html %}
        </div>
      {% endif %}
    </main>
    <div id="footer" class="page__footer">
        {% include footer/custom.html %}
        {% include_cached footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>