<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns# dc: http://purl.org/dc/elements/1.1/" class="no-js">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes" />

        <meta property="og:site_name" content="Eating Asturias" />

        <title></title>
        <base href="/">
        <link rel="author" href="/about/jon/">
    </head>
    <body itemscope itemtype="">
        <header>
            <nav>

            </nav>
            <search>

            </search>
        </header>
        <main>
            <aside id=""site_nav>

            </aside>
            <article itemprop="" itemscope itemtype="">
                <hgroup id="document-title">
                    <h1>TITLE</h1>
                    <p>last update</p>
                </hgroup>
                <p>INTRODUCTORY CONTENT</p>
                <section>
                    <h2>SECTION TITLE</h2>
                    <p>SECTION CONTENT</p>
                </section>
                <aside id="toc">

                </aside>
            </article>
        </main>
        <footer>
            <address>

            </address>
        </footer>
    </body>
</html>