.bibliography {
    padding: 0;
  
    > li {
      list-style: none;
      padding: 0.25em;
    }
  
    .pub-title a {
      color: black;
    }
  
    p {
      margin-bottom: 0.25rem;
    }
  
    .btn-group {
      margin-left: 1em;
    }
  }
  