// Font imports file. If you don't want these fonts, comment out these and add your own into the fonts directory 
// and point the src attribute to the file.
// Use the browser console to check your relative urls (they are set relative to the scss file, not the generated css file)

@charset "UTF-8";

// Main content font
@font-face {
	font-family: 'ETBembo';
	src: url("../fonts/ETBembo/ETBembo-RomanLF.woff2") format(woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ETBembo';
	src: url("../fonts/ETBembo/ETBembo-DisplayItalic.woff2")  format(woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: 'ETBembo';
	src: url("../fonts/ETBembo/ETBembo-SemiBoldOSF.woff2")  format(woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-weight: normal; // normal font weight for a bolded font is equivilant to weight 800
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ETBembo';
	src: url("../fonts/ETBembo/ETBembo-RomanOSF.woff2")  format(woff2);
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

// Sans-serif font for interface elements and blockquotes
@font-face {
    font-family: 'Gill Sans Cond C';
    src: url('../fonts/Gill-Sans/GillSansCondC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Cond Black C';
    src: url('../fonts/Gill-Sans/GillSansCondBlackC.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Cond C';
    src: url('../fonts/Gill-Sans/GillSansCondC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans C';
    src: url('../fonts/Gill-Sans/GillSansC-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans C';
    src: url('../fonts/Gill-Sans/GillSansC-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gill Sans C';
    src: url('../fonts/Gill-Sans/GillSansC.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Extra Bold C';
    src: url('../fonts/Gill-Sans/GillSansExtraBoldC.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans C';
    src: url('../fonts/Gill-Sans/GillSansC-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Light C';
    src: url('../fonts/Gill-Sans/GillSansLightC.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Light C';
    src: url('../fonts/Gill-Sans/GillSansLightC-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

// Code snippet font after Github
@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas/Consolas.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas/Consolas-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas/Consolas-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url('../fonts/Consolas/Consolas-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}