/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer-container {
  flex: 1;    /* same as flex-grow: 1; */
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer {
  background-color: $footer-background-color;
  color: $header-alt-color;
  padding-bottom: .0125rem;
  box-shadow: -2px -2px 4px -1px rgba(0,0,0,0.2),0 -4px 5px 0 rgba(0,0,0,0.14),0 -1px 10px 0 rgba(0,0,0,0.12);
}

footer a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.ft-title {
  color: $header-alt-color;
  font-size: 1.375rem;
  border-bottom: 1px dotted $header-alt-color;
  width: 100%;
}

.ft-main {
margin: 2rem auto 2rem auto;
display: flex;
flex-wrap: wrap;
}

.ft-main-item {
padding: 0 1.25rem 0 1.25rem;
min-width: 12.5rem /*200px*/;
}

@media only screen and (min-width: 29.8125rem /*477px*/) {
  .ft-main {
    justify-content: space-around;
  }
}

@media only screen and (min-width: 77.5rem /*1240px*/ ) {
  .ft-main {
    justify-content: space-evenly;
  }
}

.ft-legal {
  padding: 0 1.25rem 0 1.25rem;
  margin-bottom: 0;
  background-color: $footer-background-color;
}

.ft-legal-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.ft-legal-list li {
  margin: 0.125rem 0.625rem;
  white-space: nowrap;
}

/* one before the last child */
.ft-legal-list li:nth-last-child(2) {
  flex: 1;       /* same as flex-grow: 1; */
}
