/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  table-layout: auto;
  margin: 0 auto;
  font-family: $global-font-family;
  font-size: 0.95rem;
  border-collapse: collapse;
  overflow-x: auto;

  & + table {
    margin-top: 1em;
  }
}

thead {
  background-color: $header-color;
  color: $contrast-color;
  border-bottom: 2px solid mix(#000, $border-color, 25%);
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: start;
  word-break: break-word;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid mix(#000, $border-color, 25%);
}

tr,
td,
th {
  vertical-align: middle;
}

/* 
Tasting Note Table Styles
========================================================================== */

table.tasting {
  width: 95%;
}

table.tasting > tbody > tr > td.label {
  text-align: end;
  font-family: $sans-serif-narrow;
  font-weight: 700;
  width: fit-content;
  white-space: nowrap;
  max-width: 45%;
}

table.tasting > tbody > tr > td.value {
  text-align: start;
  font-style: italic;
}