.infobox picture {
    margin-bottom: -1rem;
}

td.image {
    padding: 0;
}

.infobox img {
    max-width: max-content;
    margin-top: unset;
}

.infobox > table {
    display: inline-block;
    border-radius: $border-radius;
    padding: 0px;
    font-size: 0.825rem;
}

.infobox th.header {
    color: $contrast-color;
    text-align: center; 
    vertical-align: middle;
    font-family: $sans-serif-narrow;
    font-variant-caps: small-caps;
}

.infobox figure {
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
}

.infobox figure figcaption {
    display: table-caption;
    caption-side: bottom;
    color: $header-alt-color;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 2px;
    margin-right: auto;
    font-style: italic;
    font-size: large;
    font-weight: 700;
}

.about ul {
    list-style-image: unset;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.infobox > table > tbody > tr > td.image {
    margin-bottom: 0;
    padding-bottom: 0;
}

.infobox-label {
    white-space: nowrap;
}

.infobox > table > tbody > tr > td {
    overflow: auto;
    padding: 0 0.5rem;
}

.infobox > table > tbody > tr.about > td:first-child { 
    text-align: end;
    font-family: $sans-serif-narrow;
    font-weight: 500;
    font-size: 1cqw;
    width: 50%;
}

.infobox > table > tbody > tr.about > td:first-child::after {
    content: ':';
}

.infobox > table > tbody > tr.about > td:nth-child(2) {
    font-style: italic;
}

tr.about td {
    border-bottom: none;
}

.infobox #divider {
    border-bottom: 6px black solid;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.infobox #divider td {    
    text-align: center;
    box-sizing:content-box;
    vertical-align: middle;
    overflow: hidden;
    padding-bottom: 0;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.indent1::before {
    content: ' ';
    display: inline-block;
    width: 10px;
}

.indent2::before {
    content: ' ';
    display: inline-block;
    width: 10px;
}

.flexright {
    justify-content: right;
}

/* infobox-recipe.html styles */

ul.ingredients {
    list-style-type:square;
    list-style-position: inside;
}

table.nutrition thead {
    all: initial;
    font-size: larger;
    font-weight: 700;
}

.nutrition-label {
    display: flexbox;
}

.nutrition-note {
    justify-content: right;
    font-style: italic;
    color: $contrast-color;
}

.nutrition-value {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: medium;
    box-sizing:content-box;
    vertical-align: middle;
    text-align: right;
}

td.calories {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 2vw;
    vertical-align: middle;
    text-align: center;
}

.recipe-diet { // see also here for another way to control list breaks https://stackoverflow.com/questions/14621656/how-to-make-line-break-in-ul-horizontal-list-for-every-x-list
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        list-style-image: none;
        margin: 2px 2px 0 2px;
        padding: 0 2px 0 0;
        border-radius: 5px;
        border-right: 1px dotted $contrast-color;
        font-size: 0.665rem;

        &:last-child {
            border-right: none;
          }
    }
}

/* infobox-cheese.html styles */

tr.cheese td {
    vertical-align: top;
    border-bottom: 1px dotted #264142;
}

tr.cheese td.producer {
    white-space: nowrap;
}

tr.cheese td.descriptor {
    width: 80% !important;
}

/* infobox-conceyo.html styles */
