.infobox picture {
    margin-bottom: -1rem;
}

td.image {
    padding: 0;
    text-align: center;
}

.infobox img {
    margin-top: unset;
    object-fit: scale-down;
}

.infobox > table {
    display: inline-block;
    border-radius: $border-radius;
    padding: 0px;
    font-size: 0.825rem;
    width: $right-sidebar-width;
    min-width: $right-sidebar-width;
    max-width: $right-sidebar-width;
}

.infobox th.header {
    color: $contrast-color;
    text-align: center; 
    vertical-align: middle;
    font-family: $sans-serif-narrow;
    font-variant-caps: small-caps;
    width: $right-sidebar-width;
    min-width: $right-sidebar-width;
    max-width: $right-sidebar-width;
}

.infobox figure {
    display: flex;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
}

.infobox figure figcaption {
    display: table-caption;
    caption-side: bottom;
    color: $header-alt-color;
    margin-top: 0px;
    margin-left: auto;
    margin-bottom: 2px;
    margin-right: auto;
    font-style: italic;
    font-size: large;
    font-weight: 700;
}

.about ul {
    list-style-image: unset;
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
}

.infobox > table > tbody > tr > td.image {
    margin-bottom: 0;
    padding-bottom: 0;
}

.infobox-label {
    white-space: nowrap;
}

.infobox > table > tbody > tr > td {
    overflow: auto;
    padding: 0 0.5rem;
}

.infobox > table > tbody > tr.about > td:first-child { 
    text-align: end;
    font-family: $sans-serif-narrow;
    font-weight: 500;
    font-size: 1cqw;
    max-width: 50%;
}

.infobox > table > tbody > tr.about > td:first-child::after {
    content: ':';
}

.infobox > table > tbody > tr.about > td:nth-child(2) {
    font-style: italic;
}

tr.about td {
    border-bottom: none;
}

.infobox #divider {
    border-bottom: 6px black solid;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.infobox #divider td {    
    text-align: center;
    box-sizing:content-box;
    vertical-align: middle;
    overflow: hidden;
    padding-bottom: 0;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.indent1::before {
    content: ' ';
    display: inline-block;
    width: 10px;
}

.indent2::before {
    content: ' ';
    display: inline-block;
    width: 10px;
}

.flexright {
    justify-content: right;
}

.divider {
    border-top: 1px solid mix(#000, $border-color, 25%);
    
}

/* Business Socials styles
------------------------------------------------------*/
td.social-icon { 
    width: 16.667%; // set the empty value to 1/8 of the row
    min-width: 16.667%;
}

/* infobox-recipe.html styles 
------------------------------------------------------*/

ul.ingredients {
    list-style-type:square;
    list-style-position: inside;
}

table.nutrition thead {
    all: initial;
    font-size: larger;
    font-weight: 700;
}

.nutrition-label {
    display: flexbox;
}

.nutrition-note {
    justify-content: right;
    font-style: italic;
    color: $contrast-color;
}

.nutrition-value {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: medium;
    box-sizing:content-box;
    vertical-align: middle;
    text-align: right;
}

td.calories {
    font-family: $sans-serif;
    font-weight: 500;
    font-size: 2vw;
    vertical-align: middle;
    text-align: center;
}

.recipe-diet { // see also here for another way to control list breaks https://stackoverflow.com/questions/14621656/how-to-make-line-break-in-ul-horizontal-list-for-every-x-list
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;

    li {
        list-style-type: none;
        list-style-image: none;
        margin: 2px 2px 0 2px;
        padding: 0 2px 0 0;
        border-radius: 5px;
        border-right: 1px dotted $contrast-color;
        font-size: 0.665rem;

        &:last-child {
            border-right: none;
          }
    }
}

/* infobox-cheese.html styles */

tr.cheese td {
    vertical-align: top;
    border-bottom: 1px dotted #264142;
}

tr.cheese td.producer {
    white-space: nowrap;
}

tr.cheese td.descriptor {
    width: 80% !important;
}

/* infobox-cider.html styles */

td.link {
    width: 50%;
    margin:auto;
    text-align: center;
    vertical-align: baseline;
}

td.image_label {
    width: 33%;
    margin:auto;
    text-align: center;
    vertical-align: baseline;
}

.image_display > img {
    max-width: 100%;
}



/* infobox-rating block styles */
.rating {
  --background-color: #dcdf80;
  --icon-color: #54692a;
  --height: 30px;
  --aspect-ratio: 168/30;
  --background-size: 34px 32px;
  aspect-ratio: var(--aspect-ratio);
  height: var(--height);
  position: relative;
}

.rating meter {
  position: absolute;
  inset: 0;
  background: none;
  background-color: var(--background-color);
  height: var(--height);
  width: auto;
}

.rating ::-moz-meter-bar {
  background: none;
  background-color: var(--icon-color);
}
.rating ::-webkit-meter-bar {
  background: var(--background-color);
  border: 0;
  border-radius: 0;
  height: var(--height);
}
.rating ::-webkit-meter-optimum-value {
  background: var(--icon-color);
}

.rating:after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 16'%3E%3Cpath d='M17 0v16H0V0h17ZM8.87.788a.97.97 0 0 0-1.745 0L5.177 4.796l-4.351.643a.967.967 0 0 0-.779.657.974.974 0 0 0 .24.991l3.157 3.124-.746 4.415a.974.974 0 0 0 1.415 1.018l3.888-2.076 3.887 2.076a.971.971 0 0 0 1.415-1.018l-.748-4.415 3.157-3.124a.968.968 0 0 0-.539-1.648l-4.354-.643L8.87.788Z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: var(--background-size);
}