/******************************************************************************
Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
*******************************************************************************/

/* Chapter Epigraphs */
div.epigraph {
    margin: 0.5636rem 0;
    display:inline-block;
    width: 100%;
    }

div.epigraph > blockquote { margin-top: 1rem;}

div.epigraph > blockquote, div.epigraph > blockquote > p { font-style: italic; }

div.epigraph > blockquote > footer {  
    font-style: normal;
    width: 45%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0;
    margin-top: 0.4455rem;
}

div.epigraph > blockquote > footer > cite { font-style: italic; }
/* end chapter epigraphs styles */

/*-- Table styling section - For Tufte-Jekyll, booktabs style is default for Markdown tables  --*/
table, table.booktabs {
    width: auto;  //making booktabs style tables the unstyled default in case someone uses Markdown styling
    //margin: 0 auto;
    border-spacing: 0px;
    border-top: 2px solid $border-color;
    border-bottom: 2px solid $border-color; }

.booktabs th, th { 
    border-bottom: 1px solid $border-color;
    padding: 0.65ex 0.5em 0.4ex 0.5em;
    font-weight: normal;
    //text-align: center; 
}

th, td{ 
    font-size: 1.2rem;
    line-height: 1.71428571;  
}

.booktabs th.cmid, th { border-bottom: 1px solid lighten($border-color, 25%); }

.booktabs th.nocmid { border-bottom: none; }

.booktabs tbody tr:first-child td,  tr:first-child td { padding-top: 0.65ex; } /* add space between thead row and tbody */

.booktabs td, td {
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left; 
}

.booktabs caption, caption { 
    font-size: 90%;
    text-align: left;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1ex;
    caption-side: top; 
}

.booktabs tbody tr, .booktabs thead tr th.l, .booktabs td.l { text-align: left !important; }
.booktabs tbody tr, .booktabs thead tr th.c, .booktabs td.c { text-align: center !important; }
.booktabs tbody tr, .booktabs thead tr th.r, .booktabs td.r { text-align: right !important; }

.table-caption { 
    float:right;
    clear:right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0rem;
    line-height: 1.96; 
}
/* -- End of Table Styling section --*/

.sidenote, .marginnote { 
    float: right;
    clear: right;
    margin-top: 0;    
    margin-right: -19vw;
    margin-bottom: 1.96rem;
    width: 17vw;
    font-size: 0.8rem;
    line-height: 0.96; //changed to bring line heights into rational pattern
    vertical-align: top;
    color: darken($contrast-color, 5%); // change this?
    position: relative; 
    @include scut-reverse-italics; // mixins.scss
}

/* This is essentially an inline version of the sidenote or marginnote for very short parenthetical statements */
.parenthetical{
    font-size: 0.8rem;
    line-height: 0.96; //changed to bring line heights into rational pattern
    color: darken($contrast-color, 5%); // change this?
    @include scut-reverse-italics; // mixins.scss
}

li .sidenote, li .marginnote{ margin-right: -80%; } //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right

blockquote .sidenote, blockquote .marginnote { margin-right: -79% }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { 
    content: counter(sidenote-counter) " ";
    font-family: et-bembo-roman-old-style;
    color: #dc1925; //added color
    position: relative;
    vertical-align: baseline; 
    font-size: 75%;
    line-height: 0;
}

.sidenote-number:after { 
    content: counter(sidenote-counter);
    left: 0.1rem;
}

.sidenote:before { 
    content: counter(sidenote-counter) ".\000a0"; // this is unicode for a non-breaking space
    color: $contrast-color;
    top: 0rem; //removed superscripting for numerical reference in sidenote
}

.marginnote code, .sidenote code { font-size: 1rem; }

span.newthought { 
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 0.05rem; 
}

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) { 
    label.margin-toggle:not(.sidenote-number) { display: inline; color: $contrast-color; }
    .sidenote, .marginnote { display: none; }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote { 
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative; 
    }
    label { cursor: pointer; }
    pre, pre code, p code, p pre code { 
        width: 90%;
        padding: 0; 
    }
    .table-caption { 
        display: block;
        float: right;
        clear: both;
        width: 98%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 1%;
        margin-right: 1%;
        vertical-align: baseline;
        position: relative; 
    }
    div.table-wrapper, table, table.booktabs { width: 85%; }
    div.table-wrapper { border-right: 1px solid #efefef; }
    img { max-width: 100%; } 
    figcaption.maincolumn-figure, figure.fullwidth figcaption { float:none; text-align: center;}
    figure.fullwidth figcaption { margin-left: 0; }
}