/******************************************************************************
Based on Tufte CSS by Dave Liepmann ( https://github.com/edwardtufte/tufte-css )
*******************************************************************************/

/* Chapter Epigraphs */
div.epigraph {
    all: unset;
    display:flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 90%;
    margin-top: .5636rem;
    padding-left: 2rem;
    padding-bottom: 1rem;
    }

div.epigraph > blockquote {
    all: unset;
    margin-top: 1rem;
}

div.epigraph > blockquote, div.epigraph > blockquote > p {
    all: unset;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 100%;
    color: $contrast-color;
}

div.epigraph > blockquote > footer {  
    all: unset;
    display: flex;
    width: 100%;
    min-width: 100%;
    flex-direction: row;
    justify-content: right;
    float: right;
    font-style: normal;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0;
    margin-top: 0.45rem;
    &::before {
        content: "— ";
    }
    margin-bottom: 1rem;
}

div.epigraph > blockquote > footer > span.author {
    flex:auto;
    white-space: nowrap;
}

div.epigraph > blockquote > footer > cite {    
    all: unset;
    font-style: italic;
    &::before {
        content: "";
        padding-inline-end: 5px;
      }
}

span.left {
    flex: auto;
    white-space: nowrap;
    max-width: 49%;
}

span.right {
    flex: auto;
    white-space: nowrap;
    max-width: 49%;
    margin-top: 1.5rem;
}

div.epigraph 

/* end chapter epigraphs styles */

/* In-Text Blockquotes */
div.blockquote {
    all: unset;
    display: flex;
    width: 95%;
    margin-top: .5636rem;
    margin-right: 17px;
    margin-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;    
    border-left: 3px solid $contrast-color;    
    }

div.blockquote > blockquote {
    all: unset;
    display: flex;
    justify-content: right;
    margin-top: 1rem;
}

div.blockquote > blockquote, div.blockquote > blockquote > p {
    all: unset;
    font-family: 'Gill Sans C';
    font-weight: normal;
    font-style: normal;
    font-size: 0.9rem;
}

div.blockquote > blockquote > footer {  
    all: unset;
    display:inline-block;
    vertical-align: bottom;
    float: right;
    font-style: normal;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0;
    margin-top: 1.4455rem;
    &::before {
        content: "— ";
    }
}

div.blockquote > blockquote > footer > cite {    
    all: unset;
    font-style: italic;
    &::before {
        content: "";
        padding-inline-end: 5px;
      }
}
/* End In-Text Blockquotes */

.sidenote, .marginnote { 
    float: right;
    clear: right;
    margin-top: 0;
    margin-right: -19vw;
    margin-bottom: 1.96rem;
    width: 17vw;
    font-size: 0.8rem;
    line-height: 0.96; //changed to bring line heights into rational pattern
    vertical-align: top;
    color: darken($contrast-color, 5%); // change this?
    position: relative; 
    @include scut-reverse-italics; // mixins.scss
}

figcaption.marginnote { //push down marginalia from main_column_img.rb plugin only
    margin-top: 1rem;
}

/* This is essentially an inline version of the sidenote or marginnote for very short parenthetical statements */
.parenthetical{
    font-size: 0.8rem;
    line-height: 0.96; //changed to bring line heights into rational pattern
    color: darken($contrast-color, 5%); // change this?
    @include scut-reverse-italics; // mixins.scss
}

li .sidenote, li .marginnote{ margin-right: -80%; } //added to allow for the fact that lists are indented and marginnotes and sidenotes push to right

// blockquote .sidenote, blockquote .marginnote { margin-right: -79% }

.sidenote-number { counter-increment: sidenote-counter; }

.sidenote-number:after, .sidenote:before { 
    content: counter(sidenote-counter) " ";
    font-family: et-bembo-roman-old-style;
    color: darken($contrast-color, 5%); //added color
    // position: relative;
    vertical-align: super; 
    font-size: 75%;
    line-height: 0;
}

.sidenote-number:after { 
    content: counter(sidenote-counter);
    left: 0.1rem;
}

.sidenote:before { 
    content: counter(sidenote-counter) ".\000a0"; // this is unicode for a non-breaking space
    color: $contrast-color;
    top: 0rem; //removed superscripting for numerical reference in sidenote
}

.marginnote code, .sidenote code { font-size: 1rem; }

span.newthought { 
    font-variant: small-caps;
    font-size: 1.2em;
    letter-spacing: 0.05rem; 
}

input.margin-toggle { display: none; }

label.sidenote-number { display: inline; }

label.margin-toggle:not(.sidenote-number) { display: none; }

@media (max-width: 760px) { 
    label.margin-toggle:not(.sidenote-number) { display: inline; color: $contrast-color; }
    .sidenote, .marginnote { display: none; }
    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote { 
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        vertical-align: baseline;
        position: relative; 
    }
    label { cursor: pointer; }
    pre, pre code, p code, p pre code { 
        width: 90%;
        padding: 0; 
    }
    .table-caption { 
        display: block;
        float: right;
        clear: both;
        width: 98%;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
        margin-left: 1%;
        margin-right: 1%;
        vertical-align: baseline;
        position: relative; 
    }
    div.table-wrapper, table, table.booktabs { width: 85%; }
    div.table-wrapper { border-right: 1px solid #efefef; }
    img { max-width: 100%; } 
    figcaption.maincolumn-figure, figure.fullwidth figcaption { float:none; text-align: center;}
    figure.fullwidth figcaption { margin-left: 0; }
}